{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Who we are? &nbsp;
Consultadd Business Solutions is a niche IT Training | Recruiting | Consulting solution provider for global clients in diverse vertical and horizontal streams such as finance and accounts, IT, health care, financial services, human resource and knowledge process outsourcing and staffing. Consultadd Information Technology Solutions has an unmatched ability to help its clients businesses grow by improving their back-office processes, while significantly reducing costs.!</p>
        <a href="https://consultadd.com/"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}